<div>
  <fieldset>
    <legend>{{legendText}}</legend>
    <p>
      <label for='title'>Title</label><br />
      <input type='text' name='title' value='{{event.title}}' />
    </p>
    <p>
      <label for='description'>Event Description</label><br />
      <input type='text' name='description' value='{{event.description}}' />
    </p>
    <p>
      <label for='imgUrl'>Image URL</label><br />
      <input type='text' name='imgUrl' value='{{event.imgUrl}}' />
    </p>
  </fieldset>

  <p>
    <button type='submit'>{{buttonText}}</button>
  </p>
</div>